<div class="jumbotron">
    <div class="container">
        <h1>Basics</h1>
        <%= link_to "Please Sign Up!", "#", class: "btn
btn-lg btn-primary" %>
        
        <img src="male.jpg" alt="Male" style="width:304px;height:228px">
    </div>
</div>


