<div class="jumbotron">
    <div class="container", :align "center">
        <h1>basics</h1>
            <%= image_tag("male.png", :align=> "left", :alt => "Male") %>
            <%= image_tag("female.png", :align=> "right", :alt => "Female") %>
        
    </div>
</div>


