<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to image_tag("blogo2.png", alt: "Basic",class: "logo"), '/' %>

        <nav>
          <ul class="nav navbar-nav navbar-right">
            <%= link_to "Sign up", "/users/new", class: "btn btn-success" %>
            <%= link_to "Log in", "/sessions/new", class: "btn btn-primary" %>
          </ul>
        </nav>
      </div>
</header>